/* init */
html,
body,
p,
a,
h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */

}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, "Microsoft YaHei", "simsun", sans-serif;
    font-size: 14px/1.5;
    color: #666;
}

h2,
form {
    text-align: center;
}

label {
    text-align: left;
}

a {
    text-decoration: none;
}

td {
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
}

ul,
li {
    list-style: none
}

/* header start */
#header {
    height: 80px;
    background: green;
}

/* header end */

#content {
    display: flex;
    height: calc(100% - 80px);
    overflow: hidden;
    flex-direction: 'row';
}

/* left_menu start */
#left_menu {
    height: 100%;
    background: rgba(199, 240, 50, 0.842);
    width: 200px;
}



/* right_main start */
#right_main {

    width: calc(100% - 200px);
    height: 100%;
    background: rgba(6, 182, 226, 0.877);
}

/* right_main end */

/* 媒体查询 */
@media only screen and (max-width: 1366px) {
    body {
        background-color: rgb(68, 197, 240);
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-color: rgb(36, 182, 235);
    }
}